/* Common.scss */

body {
    font-family: $font-stack-consolas;
}

h1,h2,h3 {
    font-family: $sans-serif-2;
    text-transform: uppercase;
}
h2 {
    font-size: 3em;
}
.wrapper {
    @include grid-container;
    margin-left: auto;
    margin-right: auto;
    max-width: 70rem;
}

header {
    @include clearfix;
    padding: 40px 40px 0;
}

.brand {
    @include hide-text;
    background: center no-repeat;
    height: 125px;
    width: 125px;
    margin: 15px 0;
    float: left;

    @include retina {
        background-image: url("../src/img/brightside-studios-logo_2x.jpg");
        background-size: 125px 125px
    }
}

a {
    color: $brand-dark;
    &:hover {
        color: $brand-primary;
    }
}

section, aside, article {
    margin-top: 40px;
    margin-bottom: 40px;
    @include clearfix;
}

#{$all-buttons} {
    font-family: $sans-serif;
    background: $brand-primary;
    &:hover {
        background: shade($brand-primary, 10%);
    }
}


