/* Common.scss */

*, 
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $main-ff;
    height: 100%;
    line-height: 1.9;
}

h1 {
    @include font($fs: 3.125rem, $lh: 1.2);
    span {
        @include font($fs: 3rem, $color:$main-pink, $ff:$ff-ss);
        display: block;  // maybe???
    }
}

h2 {
    @include font($fs: 2rem, $color:$black, $ff:$ff-ss-2);
}


// .container {
//     width: 80%;
//     margin: 2rem auto;
//     p {
//         margin: 1rem 0;
//     }
// }


