/* GLOBAL VARIABLES */

// fonts
// $sans-serif: "PT Sans", sans-serif;
// $sans-serif-2: "Titilium Web", sans-serif;

// //brand
// $brand-primary: #f26722;
// $brand-dark: #373737;
// $brand-light: #f4f6ef;

// colors

$navy: #bfe9ff;
$pink: #ff6e7f;
$transparent-black: rgba(0,0,0,0.1);